language: python
python:
    - "3.7"

# Cache PlatformIO packages using Travis CI container-based infrastructure
sudo: false
cache:
  - pip
branches:
  only:
    - master
install: 
  - pip install sphinx affine
script:
  #- python setup.py install
  - cd ./documentation/src/ && make html #linkchecker
  - cd ../build/ && ls && ls html/
  - rm -rf doctrees
  - touch .nojekyll

deploy:
  provider: pages
  # see https://docs.travis-ci.com/user/deployment/pages/
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  local-dir: ./documentation/build/
  on:
    branch: master
