include README.rst LICENSE.txt
include examples/*.svg
include documentation/presentation.odp
include inkex/*.txt
include po/*
include scripts/boxes2pot.py scripts/boxes2inkscape.py scripts/boxes_proxy.py