name: Build documentation and deploy to Pages

on:
  push:
    branches: ["master"]
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Build job
  build:
    # At a minimum this job should upload artifacts using actions/upload-pages-artifact
    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip" # caching pip dependencies
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Build documentation
        run: |
          cd ./documentation/src/
          ./boxes2rst generators.inc
          make html #linkcheck
          cp index.html ../build/
          cd ../build/ && ls && ls html/
          cp -r ../../static .
          rm -rf doctrees
          touch .nojekyll    
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./documentation/build/

  # Deploy job
  deploy:
    # Add a dependency to the build job
    needs: build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
