on:
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.8", "3.12" ] # Lowest and highest.
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
          python-version: ${{ matrix.python-version }}
          cache: "pip" # caching pip dependencies
    - uses: pre-commit/action@v3.0.0
