on:
  pull_request:
  push:
    branches: ["master"]
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

jobs:
  main:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.14" ] # Lowest and highest.
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
          python-version: ${{ matrix.python-version }}
          cache: "pip" # caching pip dependencies
    - run: pip install .
    - run: pip install .[dev]
    - uses: pre-commit/action@v3.0.1
    - uses: actions/upload-artifact@v7
      with:
        path: ./tests/data/*.svg
        name: generated-testdata-py${{ matrix.python-version }}
        compression-level: 9
        retention-days: 9
