name: Static typing hint test

on:
  push:
  pull_request:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

jobs:
  # Build job
  typing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.7', '3.8', '3.9', '3.10', '3.11' ]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip" # caching pip dependencies

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install mypy
          pip install types-Markdown

      - name: Run typing test
        run: |
          mypy --ignore-missing-imports ./boxes/
          mypy --ignore-missing-imports ./scripts/boxes
          mypy --ignore-missing-imports ./scripts/boxes2inkscape
          mypy --ignore-missing-imports ./scripts/boxes2pot
          mypy --ignore-missing-imports ./scripts/boxesserver
          mypy --ignore-missing-imports ./documentation/src/boxes2rst
          mypy --ignore-missing-imports ./setup.py
